<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playground</title>
  <body>
    <rocket-playground></rocket-playground>

    <script src="https://unpkg.com/wasm-flate@0.1.12-alpha/dist/bootstrap.js"></script>

    <script type="module">
      import '@rocket/playground/rocket-playground';
    </script>
  </body>
</html>
