## editors
/.idea
/.vscode
/.history

## system files
.DS_Store

## code coverage folders
coverage/

## npm
node_modules
npm-debug.log

## temp folders
/.tmp/

## build output
dist
dist-types
stats.html
*.tsbuildinfo

# Rocket Search
rocket-search-index.json

## Rocket ignore files
*-mdjs-generated.js
*-converted-md-source.js
*-converted-md.js
*-converted-html.js
_site
_site-dev

## Ignore Rocket Test Builds
_merged_data
_merged_assets
_merged_includes
__output
__output-dev
docs_backup

## Local playground
examples/testing
__example_site-for-check-website
