## editors
/.idea

## system files
.DS_Store

## code coverage folders
coverage/

## npm
node_modules
npm-debug.log
yarn-error.log

## temp folders
/.tmp/

## we prefer yarn.lock
package-lock.json
## lock files in packages we do not need to save
packages/*/yarn.lock

## build output
dist
dist-types
stats.html
*.tsbuildinfo

# Rocket Search
rocket-search-index.json

## Rocket ignore files (need to be the full relative path to the folders)
*-mdjs-generated.js
_site
_site-dev

## Ignore Rocket Test Builds
_merged_data
_merged_assets
_merged_includes
__output
__output-dev
docs_backup
