@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-VariableFont_wght.woff2') format('woff2 supports variations'),
    url('/fonts/Rubik-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 1 999;
  font-display: optional;
}

body {
  margin: 0;
  font-size: var(--step--1);
  line-height: var(--step-1);
  color: #565578;
  font-family: 'Rubik', sans-serif;
}

html {
  --default-headline-color: #272556;
  --rocket-content-area-padding: var(--space-2xl-3xl, 8em) 0;
}

:where(h1, h2, h3, h4, h5) {
  font-weight: 600;
  color: var(--default-headline-color);
}

h1 {
  font-size: var(--step-5);
  line-height: var(--step-5);
}

h2 {
  font-size: var(--step-2);
  line-height: var(--step-3);
}

h3 {
  font-size: var(--step-1);
  line-height: var(--step-2);
}

h4 {
  font-size: var(--step-0);
  line-height: var(--step-1);
}

h5 {
  font-size: var(--step--1);
}

main > *:nth-child(2n) {
  background: #fff;
}
main > *:nth-child(2n + 1) {
  background: #f9f8f8;
}

main > *:nth-child(1) {
  background: #fff2dc;
}

.area-headline {
  text-align: center;
  margin-bottom: var(--space-l-xl);
}

.bg-grey {
  background-color: #f9f8f8;
}

main > .bg-blue {
  background-color: #272556;
  color: #fff;
}

.bg-blue :is(h1, h2, h3, h4, h5, h6) {
  color: #fff;
}

a.cta {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #272556;
  border-radius: 30px;
  background-color: #272556;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}
a.cta:hover {
  background-color: transparent;
  color: #272556; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}
a.cta-outline {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}
a.cta-outline:hover {
  background-color: #ffffff;
  color: #272556;
}

.highlight {
  color: #f25c05;
  text-decoration: underline;
}

rocket-rotating-text {
  color: #f25c05;
}

rocket-details:last-child {
  border-bottom: none;
}

h3 + rocket-details {
  padding-top: 0;
}

rocket-header-scroll-menu {
  background: #fff2dc;
}

rocket-header-scroll-menu a {
  color: #272556;
  font-size: 16px;
  font-weight: bold;
}

rocket-header-scroll-menu a.active,
rocket-header-scroll-menu a:hover {
  color: #f25c05;
}

@media screen and (min-width: 1024px) {
  rocket-header-scroll-menu {
    --rocket-header-scroll-menu-padding-right: 25ch;
  }
}

.headline-only {
  padding-bottom: var(--space-xs-s);
}

.content-text {
  padding-top: var(--space-xs-s);
}

main > *:first-child {
  padding-top: var(--space-s-l);
}

rocket-card h4 {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  scroll-margin-top: 85px;
}
