:root {
  --markdown-table-row-odd-background-color: #efefef;
  --markdown-syntax-background-color: #f9f9f9;
}

body[layout^='layout-home'] .markdown-body .call-to-action:nth-of-type(2) {
  --primary-color: #222;
  --primary-color-lighter: #333;
  --primary-color-darker: #000;
}

@media screen and (min-width: 1024px) {
  body[layout='layout-home-background'] .page-background {
    top: -210px;
    right: -463px;
    transform: rotate(45deg);
  }
}

rocket-navigation {
  font-family: 'Montserrat', sans-serif;
}

header {
  font-family: 'Montserrat', sans-serif;
}

code-tabs[collection="package-managers"] {
  --code-tabs-icon-height: 18px;
  --code-tabs-justify-tabs: end;
}

:not(rocket-navigation):not(:defined) {
  opacity: 0;
}
