:not(web-menu):not(:defined) {
  opacity: 0;
}

web-menu,
header {
  font-family: 'Montserrat', sans-serif;
}

code-tabs[collection="package-managers"] {
  --code-tabs-icon-height: 18px;
}

.call-to-action {
  background: var(--button-one) !important;
  text-shadow: none !important;
  border-radius: 5px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border: none !important;
}

.call-to-action:hover,
.call-to-action:focus,
.call-to-action:active {
  background: var(--button-one-hover) !important;
}

.call-to-action:nth-child(2) {
  background: var(--button-two) !important;
}

.call-to-action:nth-child(2):hover,
.call-to-action:nth-child(2):focus,
.call-to-action:nth-child(2):active {
  background: var(--button-two-hover) !important;
}

body[layout^='layout-home'] .markdown-body .call-to-action:nth-of-type(2) {
  --primary-color: #222;
  --primary-color-lighter: #333;
  --primary-color-darker: #000;
}

@media screen and (min-width: 1024px) {
  body[layout='layout-home-background'] .page-background {
    top: -210px;
    right: -463px;
    transform: rotate(45deg);
  }
}
